export(gains)
export(print.gains)
export(plot.gains)

S3method(print, gains)
S3method(plot, gains)

importFrom("graphics", "axTicks", "axis", "plot", "points")
importFrom("stats", "qnorm", "qt", "quantile", "sd")
